:root {
  --color-primary: #5776e5;
  --background-color: #efeff9;
  --search-button: #8eb5f1;
  --label-color: #dbe5ff;
  --border-color: #8a90a0;
  --input-txt-color: #7a798d;
  --input-txt2-color: #646374;
  --title-color: #262a4d;
  --subtitle-color: #282a3b;
  --base-txt-color: #4a69a7;
  --footer-txt-color: #5b6b8b;

  --green-color: #45c328;
  --color-text-in-primary: #c2d3ff;

  --button-txt-color: #f3f6fd;
  --button-bg-color: #4e86bb;
}
