:root {
  --color-primary: #5776e5;
  --background-color: #efeff9;
  --search-button: #8eb5f1;
  --label-color: #dbe5ff;
  --border-color: #8a90a0;
  --input-txt-color: #7a798d;
  --input-txt2-color: #646374;
  --title-color: #262a4d;
  --base-txt-color: #4a69a7;
  --green-color: #45c328;
  --color-text-in-primary: #c2d3ff;
}
